/* src/styles/LoadingIndicator.css */

@keyframes ac-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ac-loading-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #92d16c;
  font-weight: 700;
  font-family: "Varela Round", "Arial Rounded MT Bold", sans-serif;
  padding: 20px;
}

.ac-loading-root-centered {
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.ac-loading-icon {
  width: 50px;
  height: 50px;
  fill: currentColor;
  animation: ac-spin 2s linear infinite;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.1));
  margin-bottom: 10px;
}

.ac-loading-text {
  font-size: 1rem;
  letter-spacing: 1px;
}
